@use "./abstracts" as *;

.calculator {
  align-items: center;
  display: flex;
  background-color: darkblue;
  height: 800px;


  @include media("mobile-l") {
    height: 600px;
  }

  @include media("mobile-s") {
    height: 500px;
  }
  &__summer {
    padding: 0 20px;
    width: 320px;
    height: 60px;
    border: 2px solid orangered;
    margin: 10px;
    font-size: 24px;

    @include media("mobile-l") {
      width: 300px;
      font-size: 22px;
    }

    @include media("mobile-m") {
      width: 250px;
      font-size: 22px;
    }

    @include media("mobile-s") {
      width: 230px;
      font-size: 22px;
    }
  }

  &__block {
    width: 400px;
    height: 550px;
    background-color: darkgrey;
    padding: 20px 20px;

    @include media("mobile-l") {
      width: 350px;
    }

    @include media("mobile-m") {
      width: 300px;
      height: 430px;
    }

    @include media("mobile-s") {
      width: 280px;
      height: 430px;
    }
  }

  &__box {
    column-gap: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
  }

  &__btn {
    @extend %btn-base;

    @include hover-supported {
      background-color: orangered;
      color: white;
    }

    @include media("mobile-l") {
      width: 70px;
      height: 70px;
      font-size: 24px;
    }

    @include media("mobile-m") {
      width: 60px;
      height: 60px;
      font-size: 22px;
    }

    &-functional {
      @extend %btn-base;
      color: green;

      @include hover-supported {
        background-color: green;
        color: white;
      }

      @include media("mobile-l") {
        width: 70px;
        height: 70px;
        font-size: 24px;
      }

      @include media("mobile-m") {
        width: 60px;
        height: 60px;
        font-size: 22px;
      }
    }

    &-clear {
      @extend %btn-base;
      color: red;

      @include hover-supported {
        background-color: red;
        color: white;
      }

      @include media("mobile-l") {
        width: 70px;
        height: 70px;
        font-size: 24px;
      }

      @include media("mobile-m") {
        width: 60px;
        height: 60px;
        font-size: 22px;
      }

    }

    &-result {
      @extend %btn-base;
      background-color: green;
      color: white;

      @include hover-supported {
        background-color: white;
        color: green;
      }

      @include media("mobile-l") {
        width: 70px;
        height: 70px;
        font-size: 24px;
      }

      @include media("mobile-m") {
        width: 60px;
        height: 60px;
        font-size: 22px;
      }

    }


  }
}